:root {
  scroll-behavior: smooth;
  font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
}
body {
  padding-block: 2rem;
  max-width: 900px;
  margin-inline: auto;
}
strong {
  color: inherit;
}
hgroup > * + * {
  margin-block: 0.5em 0;
}
main > * + * {
  margin-block: 1rem 0;
}
hgroup {
  margin-block-end: 3rem;
}
pre {
  overflow-x: auto;
}
pre[class="shiki"],
p.demo {
  font-size: 0.875em;
  border-radius: 1em;
  padding: 0;
}

p.demo {
  background: #f8f8f8;
  border: 1px solid #eee;
  padding: var(--pico-spacing);
}

:is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 2em;
  position: relative;
  margin-block: 2em 0 !important;

  .anchor {
    opacity: 0;
    margin-inline-start: 0.4em;
    text-decoration: none;
    font-weight: normal;
    transition: opacity 0.15s;
  }

  &:hover .anchor {
    opacity: 0.4;
  }

  .anchor:hover {
    opacity: 1 !important;
  }

}
footer {
  text-align: center;
  max-width: 600px;
  margin-block: 2rem;
}
code {
  display: inline;
  overflow-wrap: break-word;
}
blockquote,
p,
ul {
  margin-block-start: 0.75em;
}