:root {
  --pico-font-size: 18px;
}

body {
  padding-block: 2rem;
  max-width: 1000px;
  margin-inline: auto;
}

main > * + * {
  margin-block-start: 3rem;
}

.hint {
  font-style: italic;
  opacity: 0.6;
}

pre {
  overflow-x: auto;
}

pre[class*="language-"],
code[class*="language-"] {
  font-size: 0.875em;
}

details + details {
  margin-block-start: 0.5rem;
}

a[href=""] {
  text-decoration: none;
}

summary {
  font-weight: bold;
  width: max-content;
}

pre[class*="language-"] {
  font-size: 1rem;
  border-radius: 1rem;
}